site_name: DANDI Documentation
repo_name: "dandi/dandi-docs"
repo_url: "https://github.com/dandi/dandi-docs"
copyright: "CC-BY 4.0"
use_directory_urls: true
site_url: https://docs.dandiarchive.org

# Material theme
theme:
  name: "material"
  language: "en"
  favicon: img/favicon.ico
  logo: img/dandi-logo-square_sw.png
  palette:
    - scheme: default
      toggle:
        icon: material/weather-night
        name: Dark mode
      primary: "dark blue"
      accent: "light blue"
    - scheme: slate
      toggle:
        icon: material/weather-sunny
        name: Light mode
      primary: "dark blue"
      accent: "light blue"
  features:
    - toc.integrate

# Pages
nav:
  - Welcome: "index.md"
  - Introduction: "introduction.md"
  - Getting Started:
    - Creating a DANDI Account: "getting-started/creating-account.md"
    - DANDI Ecosystem: "getting-started/dandi-ecosystem.md"
    - Data Standards:
      - Overview: "getting-started/data-standards/index.md"
      - NWB: "getting-started/data-standards/nwb.md"
  - "User Guide: Sharing Data":
    - Creating a Dandiset: "user-guide-sharing/creating-dandiset.md"
    - Data Licenses: "user-guide-sharing/data-licenses.md"
    - Converting Data:
      - Overview: "user-guide-sharing/converting-data/index.md"
      - NWB: "user-guide-sharing/converting-data/nwb/index.md"
      - NWB GUIDE: "user-guide-sharing/converting-data/nwb/nwb-guide.md"
      - NeuroConv: "user-guide-sharing/converting-data/nwb/neuroconv.md"
      - PyNWB and MatNWB: "user-guide-sharing/converting-data/nwb/pynwb-matnwb.md"
    - Validating Files: "user-guide-sharing/validating-files.md"
    - Uploading Data: "user-guide-sharing/uploading-data.md"
    - Dandiset Metadata: "user-guide-sharing/dandiset-metadata.md"
    - Publishing Dandisets: "user-guide-sharing/publishing-dandisets.md"
    - Contributing an example notebook: "user-guide-sharing/contributing-notebook.md"
  - "User Guide: Using Data":
    - Exploring Dandisets: "user-guide-using/exploring-dandisets.md"
    - Accessing Data:
      - Overview: "user-guide-using/accessing-data/index.md"
      - Downloading: "user-guide-using/accessing-data/downloading.md"
      - Streaming: "user-guide-using/accessing-data/streaming.md"
      - External Services: "user-guide-using/accessing-data/external-services.md"
    - Citing Dandisets: "user-guide-using/citing-dandisets.md"
    - DANDI Hub: "user-guide-using/dandi-hub.md"
  - Tutorials:
    - Dandiset Examples: https://dandi.github.io/example-notebooks
    - DANDI User Guide, Part I: "example-notebooks/dandi/DANDI User Guide, Part I.ipynb"
    - DANDI User Guide, Part II: "example-notebooks/dandi/DANDI User Guide, Part II.ipynb"
    - Simple Dandiset Search: "example-notebooks/tutorials/neurodatarehack_2024/simple_dandiset_search.ipynb"
    - Advanced Asset Search: "example-notebooks/tutorials/cosyne_2023/advanced_asset_search.ipynb"
    - Streaming and interacting with NWB data: "example-notebooks/tutorials/bcm_2024/analysis-demo.ipynb"
    - NWB Widget Demo: "example-notebooks/demos/NWBWidget-demo.ipynb"
  - Developer Guide:
    - System Architecture: "developer-guide/system-architecture.md"
    - Developer Notes: "developer-guide/developer-notes.md"
    - Integrate External Services with DANDI: "developer-guide/integrate-external-services.md"
    - Contributing Documentation: "developer-guide/contributing-documentation.md"
    - Creating a DANDI Instance:
      - Overview: "developer-guide/creating-dandi-instance/index.md"
      - Initialize Vendor Accounts: "developer-guide/creating-dandi-instance/initialize-vendors.md"
      - DANDI Authentication: "developer-guide/creating-dandi-instance/dandi-authentication.md"
      - DANDI Client: "developer-guide/creating-dandi-instance/dandi-cli.md"
      - DANDI Infrastructure: "developer-guide/creating-dandi-instance/dandi-infrastructure.md"
      - DANDI Archive: "developer-guide/creating-dandi-instance/dandi-archive.md"
      - DANDI Hub: "developer-guide/creating-dandi-instance/dandi-hub.md"
  - Health Status:
    - Dandisets: https://github.com/dandi/dandisets-healthstatus
    - Services: https://status.dandiarchive.org
  - Terms and Policies:
    - Terms: "terms-policies/terms.md"
    - Policies: "terms-policies/policies.md"
  - API:
    - DANDI Client: "api/dandi-client.md"
    - REST API: "api/rest-api.md"

# List of extensions
markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.critic
  - pymdownx.magiclink
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - toc:
      permalink: True

# List of plugins
plugins:
  - search
  - open-in-new-tab
  - mkdocs-jupyter:
      ignore_h1_titles: True
      include: ["*.ipynb"]

# Customize theme
extra:
  homepage: https://dandiarchive.org
  analytics:
    provider: google
    property: G-15WQLCLQ3L
  social:
    - icon: fontawesome/brands/slack
      link: https://dandiarchive.slack.com
      name: Slack
    - icon: fontawesome/solid/paper-plane
      link: mailto:info@dandiarchive.org
      name: Email
    - icon: fontawesome/brands/github
      link: https://github.com/dandi
      name: GitHub
    - icon: fontawesome/brands/youtube
      link: https://www.youtube.com/@dandiarchive
      name: YouTube
    - icon: fontawesome/brands/bluesky
      link: https://bsky.app/profile/dandiarchive.org
      name: Bluesky
